.blog-summary {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  background-color: white;
  text-decoration: none;
}

.blog-summary:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  cursor: pointer;
}

.blog-summary-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.blog-summary-date {
  font-size: 0.8em;
  color: #646464;
}

.blog-summary-title {
  display: flex;
  flex-direction: column;
}

.blog-summary-title-text {
  font-weight: 500;
}
